
<div class="entity-container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-text">{{pageTitle}}</div>
            <form class="navbar-form navbar-right">
                <button type="button" class="btn btn-secondary"
                        (click)="setLargeSize()">Large
                </button>
                <button type="button" class="btn btn-secondary"
                        (click)="setSmallSize()">Small
                </button>
                <button type="button" class="btn btn-secondary"
                        (click)="goBack()">Назад
                </button>
            </form>
        </div>

    </nav>
    <chart-container
            [color] = "data.color1"
            [width]="data.width"
            [height]="data.height"
            [ngStyle]="{'float': 'left'}">

    </chart-container>
    <chart-container
            [color] = "data.color2"
            [width]="data.width"
            [height]="data.height"
            [ngStyle]="{'float': 'left'}"
    ></chart-container>


</div>
