<div class="entity-container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-text">{{pageTitle}}</div>
            <form class="navbar-form navbar-right">
                <button type="button" class="btn btn-secondary"
                        (click)="setLargeSize()">Large
                </button>
                <button type="button" class="btn btn-secondary"
                        (click)="setSmallSize()">Small
                </button>
                <button type="button" class="btn btn-secondary"
                        (click)="goBack()">Назад
                </button>
            </form>
        </div>
    </nav>
    <div
            [ngStyle]="{
            'display': 'flex',
            'justify-content': 'space-around',
            'align-items': 'center'
            }">
        <chart-container
                [color]="data.color1"
                [width]="data.width"
                [height]="data.height">

        </chart-container>
        <chart-container
                [color]="data.color2"
                [width]="data.width"
                [height]="data.height">

        </chart-container>
        <div>
            <form action="">
                <p><b>Сортування</b></p>
                <p><input name="unit" type="radio" value="$unit">$unit</p>
                <p><input name="percent" type="radio" value="%percent" checked>%percent</p>
                <p><input type="submit" value="Застосувати"></p>
            </form>
        </div>
    </div>

</div>
